<div class="w3-container">
    <span>@ModemReinit</span>

    <h2>Status</h2>
    <p>Informationen zum angeschlossenen Modem:</p>
    <ul class="w3-ul w3-card">
        <li>
            <label>Signal</label>
            <div class="w3-light-grey w3-round">
                <div class="quality w3-container w3-blue w3-round" id="quality" style="width:0%">@Quality%</div>
            </div>
        </li>
        <li>
            <label>
                Mobilfunknetz
            </label>
            <div id="registered" class="w3-light-grey">
                @Registered
            </div>
        </li>
        <li>
            <label>
                GSM Modem
            </label>
            <div id="registered" class="w3-light-grey">
                @ModemType
            </div>
        </li>
        <li>
            <label>Eigene Nummer</label>
            <div class="w3-light-grey">
                @OwnName @OwnNumber
            </div>
        </li>
        <li>
            <label>SMS-Servicecenter</label>
            <div class="w3-light-grey">
                @ProviderName @ServiceCenter
            </div>
        </li>
        <li>
            <label>Sprachanrufe werden weitergeleitet an</label>
            <div class="w3-light-grey">
                @ForewardingActive @ForewardingNumber
            </div>
        </li>

        <li>
            <label>PIN an SIM-Karte</label>
            <div class="w3-light-grey">
                @PinStatus
            </div>
        </li>
        <li>
            <label>Zuletzt aufgetretener Fehler</label>
            <div class="w3-light-grey">
                @ModemError
            </div>
        </li>
    </ul>
    <br />

    <h2>Anrufweiterleitung bearbeiten</h2>
    <div class="w3-card w3-padding" style="height:100px">
        <label>Sprachanrufe dauerhaft weiterleiten an</label>
        <form action="/gsm/callforward" method="get">
            <div>
                @NewForwardingNumber
            </div>
        </form>
        <div>&nbsp;</div>
    </div>

    <div class="w3-monospace w3-tiny w3-display-bottomleft w3-padding">
        <span>
            MelBox2 Tech-Administrator: @AdminPhone - @AdminEmail
        </span>
    </div>
</div>