<div class="w3-container">
    <span>@ModemReinit</span>

    <h2>Status</h2>
    <p>Informationen zum angeschlossenen Modem:</p>
    <ul class="w3-ul w3-card w3-threequarter">
        <li>
            <label>Signal</label>
            <div class="w3-light-grey w3-round">
                <div class="quality w3-container w3-blue w3-round" id="quality" style="width:0%">@Quality%</div>
            </div>
        </li>
        <li>
            <label>
                Mobilfunknetz
            </label>
            <div id="registered" class="w3-light-grey">
                @Registered
            </div>
        </li>
        <li>
            <label>
                GSM Modem
            </label>
            <div id="registered" class="w3-light-grey">
                @ModemType
            </div>
        </li>
        <li>
            <label>Eigene Nummer</label>
            <div class="w3-light-grey">
                @OwnName @OwnNumber
            </div>
        </li>
        <li>
            <label>SMS-Servicecenter</label>
            <div class="w3-light-grey">
                @ProviderName @ServiceCenter
            </div>
        </li>
        <li>
            <label>Sprachanrufe weiterleiten an</label>
            <div class="w3-light-grey" onclick="myFunction('newForward')" >
                @ForewardingActive @ForewardingNumber
            </div>
            <form id="newForward" class="w3-hide" action="/gsm/callforward" method="get">
                @NewForwardingNumber
            </form>
        </li>
        <li>
            <label>PIN an SIM-Karte</label>
            <div class="w3-light-grey">
                @PinStatus
            </div>
        </li>
        <li>
            <label>Zuletzt aufgetretener Fehler</label>
            <div class="w3-light-grey">
                @ModemError
            </div>
        </li>
        <li><hr /></li>
        <li>
            <label>MelBox Administrator (Empfängt Routine- und Fehlermeldungen aus dieser Anwendung)</label>
            <div class="w3-light-grey">
                @AdminPhone - @AdminEmail
            </div>
        </li>

    </ul>
    <br />
    <script>
        function myFunction(id) {
          var x = document.getElementById(id);
          if (x.className.indexOf("w3-show") == -1) {
            x.className += " w3-show";
          } else {
            x.className = x.className.replace(" w3-show", "");
          }
        }
    </script>
</div>