<div class='w3-row w3-margin'>
    <div class='w3-container w3-quarter'></div>
    <div class='w3-half'>
        <div class='w3-card'>
            <div class='w3-container w3-light-blue'>
                <h2>Login</h2>
            </div>
            <form class='w3-margin w3-padding' name="form1" method="post" autocomplete="on">
                <label><b>Benutzer<span class="w3-opacity">*</span></b></label>
                <input class='w3-input w3-border' name='name' type='text' placeholder='Benutzername' required>
                <label><b>Passwort<span class="w3-opacity">*</span></b></label>
                <input class='w3-input w3-border' name='password' type='password' pattern='.{4,}' placeholder='Mind. 4 Zeichen' required>
                <p>
                    <button class='w3-button w3-light-blue' formaction='/login' title="Login schaltet personalisierte Funktionen frei">Login</button>
                    <button class='w3-button w3-sand w3-right' formaction='/register' title="nur registrierte Benutzer k&ouml;nnen sich einloggen">Registrieren</button>
                </p>
            </form>
        </div>
        <div class="w3-container">
            <p class="w3-opacity">* = erforderlich</p>
        </div>
    </div>
</div>

<div id="cookieinfo" class="w3-container w3-display-bottommiddle w3-sand w3-card w3-monospace w3-margin">
    <span onclick="document.getElementById('cookieinfo').style.display='none'" class="w3-button w3-display-topright">&times;</span>
    <p>
        Durch den Login stimmen Sie für die Dauer der Sitzung der Verwendung funktional notwendiger Cookies zu. 
        Die Cookies sind für die Anmeldung erforderlich. Sie werden nicht weiter ausgewertet und nach Nutzung gelöscht. 
    </p>
</div>